*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif;
}
#html, body{
    height: 100%;
    width: 100%;
    

}
#main{
    height: 100%;
    width: 100%;
    
}
#navbar{
    height: 140px;
    width: auto;
    font-size:23px;
   display: flex;
   justify-content: space-between;
   margin: 36px;
   padding: 25px 36px;
}

#intro h3{
    font-size: 34px;
    margin: 36px;
    padding: 22px 36px;
    letter-spacing: -1px;
 
 }
#intro h2{
    width: 100%;
    font-size:190px;
    font-weight:500;
    margin:7px  36px;
    margin-top: 30px;
    margin-bottom: 150px;
    padding: 10px 36px;
    line-height:178px;
    letter-spacing: -9px ;
    word-spacing: 9px;
}
#bottom {
    font-size:23px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 36px;
    margin-left: 36px;
    margin: 10px 40px;
    margin-bottom: 0px;

}
#uniqueleft{
    display:flex;
    justify-content: space-between;

}
#uniqueleft h3{
    padding-left:45px;
}

#projects{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 90px;
    gap:70px;
}

.elem{
    width: 50%;
} 
.elem-img{
    height:780px;
    background-color: lightcyan;
    width: 100%;
    border: 2px double black;
    border-radius: 30px;
}
#img1{
    background-image: url(https://th.bing.com/th/id/OIP.lO0qq5BhLOA1V4YT3VIbgwHaHa?rs=1&pid=ImgDetMain);
    background-size: cover;
}
#img2{
    background-image: url(https://cdn.dribbble.com/users/2849892/screenshots/7254638/image.png);
    background-size: cover;
}
.btm{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 33px;
    font-size: 25px;
}
.ri-arrow-right-line{
    border: 2px solid black;
    color: white;
    font-size: 20px;
    background-color:black ;
    padding: 20px 30px;
    border-radius: 40px;
    

   }
   .ri-arrow-right-line{
    border: 2px solid black;
    color: white;
    font-size: 20px;
    background-color:black ;
    padding: 20px 30px;
    border-radius: 40px;

   }
p{
    color: grey;
    font-size: 20px;
}

